<div class="container">
    <form class="form-inline form-group">
        <input class="form-control mr-2" type="text" name="search" placeholder="Serch user" id="search" >
        <button class="btn btn-outline-success btn-submit"  type="submit">Search</button>
    </form>
    <div class="row" >
        <div class="col-sm-6">
            <img class="card-img-top img-thumbnail" src="https://cdn.pixabay.com/photo/2016/08/18/11/00/man-1602633__340.png"  alt="user-profile">
        </div>
        <div class="col-sm-6">
            <ul id="labels" class="list-group list-group-flush">
                <li class="list-group-item">
                    <span class="badge badge-light mr-2">FOLLOWERS: </span>
                    <span class="badge badge-light mr-2">FOLLOWING: </span>
                    <span class="badge badge-light mr-2">PUBLIC REPOS: </span>
                    <span class="badge badge-light mr-2">PUBLIC GISTS: </span>
                </li>
            </ul>


