<div class="container">
 <nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand"><img src="https://api.freelogodesign.org/files/0aea9e61a7c14ab08f097be28c136a28/thumb/logo_200x200.png?v=0" height="100%" width="100%" alt=""></a>
    <form class="form-inline form-group">
        <input class="form-control mr-2" type="text" name="search" placeholder="Search users..." id="search" [(ngModel)]="username">
        <button class="btn btn-outline-success btn-submit" (click)="getUserData()" type="submit">Search</button>
    </form>
 </nav>
 <br>
 <br>
    
    <div class="card" *ngIf="data">
        <div class="card-header">
            <button [hidden]="display"(click)="viewRepositories()" class="btn btn-success float-right">Go back</button>
            <a href="{{data.html_url}}" target="_blank">
                <h3 appHover class="text-success">{{data.login}} </h3>
            </a>
           
        </div>
        <div class="row" [hidden]="hide">
            <div class="col-sm-6">
                <ul  class="list-group list-group-flush">
                    <li class="list-group-item">
                        <span class="badge badge-light mr-2" style="color: red;">FOLLOWERS: {{data.followers}}</span>
                        <span class="badge badge-light mr-2">FOLLOWING: {{data.following}}</span>
                        <span class="badge badge-light mr-2">REPOSITORIES: {{data.public_repos}}</span>
                    </li>
                    <li id="name" class="list-group-item">{{data.name}}</li>
                    <li id="date" class="list-group-item">Last Active: {{data.updated_at}}
                    <li id="date" class="list-group-item">Created At: {{data.created_at}}</li>
                </ul>
                <button (click)="viewRepositories()" class="btn btn-danger float-bottom">REPOSITORIES</button>
            </div>
            <div class="col-sm-6">
                <img  src="{{data.avatar_url}}">
            </div>
        </div>
        <div [hidden]="display">
            <h2>My repositories</h2>
            <ul class="list-group list-group-flush" *ngFor="let repo of work">
                <li class="list-group-item">
                    <h2>{{repo.name}}</h2>
                    <p>{{repo.description}}</p>
                </li>
                <hr>
            </ul>
        </div>
    </div>

</div>

